html {
	background-color: #00c3ff;
}

html, body {
	margin: 0;
	width: 100%;
	font-size: 16pt;
}

* {
    touch-action: manipulation;
}

#title, #subtitle, body > a, body > p {
	position: relative;
	z-index: 1000;
}

#garden {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
    margin: 0;
    padding: 0;
    background: url(/images/garden.svg) no-repeat center bottom;
    width: 100%;
	z-index: 0;
}

@media (min-aspect-ratio: 3/2) {
	#garden { 
		height: 75vh;
		background-size: 100% 100%;
	}
}

@media (max-aspect-ratio: 3/2) {
	#garden { 
		height: 75vh; 
		background-size: cover; 
		background-position: center bottom; 
	}
}

#everything_center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	bottom: 10vh;
}

#everything {
	display: grid;
	grid-template-columns: 1fr max-content;
}

@media (max-aspect-ratio: 3/4) {
	#everything { 
	grid-template-rows: 1fr max-content max-content;
	grid-template-columns: unset;
	width: 100%;
	}
}

#carrot {
	z-index: 1;
	user-select: none;
	display: grid;
	grid-template-columns: 1fr;
}

@media (max-aspect-ratio: 3/4) {
	#carrot { 
	}
}

#body {
	grid-column-start: 1;
	grid-row-start: 1;
	justify-self: center;
	width: clamp(5rem,33vw,6rem);
}

@media (max-aspect-ratio: 3/4) {
	#body { 
		width: clamp(6rem,21vmax,15rem);
	}
}

#mouth {
	transform-origin: bottom right;
	transform: translate(-7%, 58%);
	width: clamp(5rem,33vw,6rem);
	user-select: none;
	grid-column-start: 1;
	grid-row-start: 1;
}

@media (max-aspect-ratio: 3/4) {
	#mouth { 
		justify-self: center;
		width: clamp(6rem,21vmax,15rem);
	}
}

#triangle_row {
	justify-self: flex-end;
	transform: translateY(-1%);
}

@media (max-aspect-ratio: 3/4) {
	#triangle_row { 
		grid-column-start: 1;
		grid-row-start: 1;
		justify-self: center;
		transform: translate(-20%,46%);
	}
}

#triangle {
	width: 100px;
	fill: #ececbc;
}

@property --width {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}

@property --height {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}

@media (max-aspect-ratio: 3/4) {
	#triangle { 
		--width: calc(20vw);
		--height: calc(8.5vh);
		--ratio: calc( tan( atan2(var(--width), var(--height)) ) );
		--angle: calc( atan(var(--ratio)) );
		right: 50%;
		bottom: 41vh;
		width: var(--width);
		height: var(--height);
		transform: skewX(calc( -0.8 * var(--angle) ) );
	}
}

#messaging {
	width: 14rem;
	display: grid;
	grid-template-rows: 1fr 1fr;
	transform: translate(0%, -32%);
	padding-right: 0.5rem;
	justify-self: end;
}

@media (max-aspect-ratio: 3/4) {
	#messaging { 
		grid-template-rows: 1fr 0.2fr;
		transform: unset;
		width: 100%;
		padding-right: unset;
	}
}

#response_ui {
	display: flex;
}

@media (max-aspect-ratio: 3/4) {
	#response_ui { 
		width: calc(100% - 1rem);
		margin: 0rem 0.5rem;
		flex-direction: column-reverse;
		grid-column-start: 1;
		grid-row-start: 1;
	}
}

#response {
	padding: 0.5rem;
	width: 100%;
	border-radius: 0.9rem;
	background-color: #ececbc;
	font-family: sans;
	font-size: x-large;
	text-align: center;
	align-content: center;
}

@media (max-aspect-ratio: 3/4) {
	#response { 
		padding: 0.4rem 0rem;
		font-size: clamp(1rem, 6vw, 3rem);
		overflow-wrap: anywhere;
	}
}

#refresh_bottom {
	align-content: end;
}

@media (max-aspect-ratio: 3/4) {
	#refresh_bottom { 
		width: clamp(2rem, 11vw, 8rem);
		height: clamp(2rem, 11vw, 8rem);
		padding-top: 0.1rem;
	}
}

#refresh {
	height: 2rem;
	width: 2rem;
	user-select: none;
	padding-right: 0.2rem;
	display: block;
}

#refresh:hover {
	cursor: pointer;
}

@media (max-aspect-ratio: 3/4) {
	#refresh {
		height: 100%;
		width: 100%;
	}
}

#message_ui {
	width: calc(100% - 0.5rem);
	display: grid;
	grid-template-columns: max-content 1fr 4em;
}

@media (max-aspect-ratio: 3/4) {
	#message_ui {
		width: calc(100% - 1rem);
		padding: 0.5rem 0.5rem;
		font-size: clamp(1rem, 6vw, 3rem);
		overflow-wrap: anywhere;
	}
}

#ignore_toggle {
	cursor: pointer;
	padding-right: 0.2rem;
	user-select: none;
}

#ignore_toggle.enabled {
	text-decoration: line-through;
}

@media (max-aspect-ratio: 3/4) {
	#ignore_toggle {
		padding-right: 0.6rem;
	}
}

#message {
	font-size: inherit;
	width: 30vh;
}

@media (max-aspect-ratio: 3/4) {
	#message {
		box-sizing: border-box;
		width: 100%;
	}
}

#send {
	font-size: inherit;
}
