html {
	background-color: #00c3ff
}

html, body {
	margin: 0;
	width: 100%;
	font-size: 16pt;
}

#title, #subtitle, body > a, body > p {
	position: relative;
	z-index: 1000;
}

#garden {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
    margin: 0;
    padding: 0;
    background: url(/images/garden.svg) no-repeat center bottom;
    width: 100%;
	z-index: 0;
}

@media (min-aspect-ratio: 3/2) {
	#garden { 
		height: 75vh;
		background-size: 100% 100%;
	}
}

@media (max-aspect-ratio: 3/2) {
	#garden { 
		height: 75vh; 
		background-size: cover; 
		background-position: center bottom; 
	}
}

#carrot {
	position: fixed;
	bottom: 10vh;
	height: 40vh;
}

@media (min-aspect-ratio: 1/1) {
	#carrot { 
		right: 35vw;
		width: 80vw;
	}
}

@media (max-aspect-ratio: 1/1) {
	#carrot { 
		right: 10vw;
		width: 80vw;
	}
}

@media (max-aspect-ratio: 3/4) {
	#carrot { 
		right: 0;
		width: 100vw;
	}
}

#face {
	position: absolute;
	z-index: 1;
	right: 0;
	user-select: none;
}

@media (max-aspect-ratio: 3/4) {
	#face { 
		width: clamp(6rem,30vw,14rem);
		right: 50%;
		transform: translateX(50%);
	}
}

#mouth {
	position: absolute;
	z-index: 2;
	right: 0;
	transform: translate(2%, -45%) scale(0.4);
	transform-origin: bottom right;
	user-select: none;
}

@media (max-aspect-ratio: 3/4) {
	#mouth { 
		width: clamp(6rem,30vw,14rem);
		right: 51%;
		transform: translate(50%, 59%);
	}
}

#triangle {
	position: absolute;
	z-index: 3;
	width: 100px;
	fill: #ececbc;
	right: 0;
	transform: translate(-118%,0%);
	transform-origin: bottom right;
}

@property --width {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}

@property --height {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}

@media (max-aspect-ratio: 3/4) {
	#triangle { 
		--width: calc(20vw);
		--height: calc(8.5vh);
		--ratio: calc( tan( atan2(var(--width), var(--height)) ) );
		--angle: calc( atan(var(--ratio)) );
		right: 50%;
		bottom: 41vh;
		width: var(--width);
		height: var(--height);
		transform: skewX(calc( -0.8 * var(--angle) ) );
	}
}

#message_ui {
	position: absolute;
	z-index: 4;
	right: 0;
	width: 12rem;
	bottom: 35vh;
	display: flex;
	transform: translate(-44%,0);
}

@media (max-aspect-ratio: 3/4) {
	#message_ui { 
		transform: unset;
		bottom: 49vh;
		width: calc(100% - 0.8rem);
		right: 0.2rem;
		flex-direction: column-reverse;
	}
}

#message {
	padding: 0.5em;
	width: 100%;
	border-radius: 0.9em;
	background-color: #ececbc;
	font-family: sans;
	font-size: x-large;
	text-align: center;
	align-content: center;
}

@media (max-aspect-ratio: 3/4) {
	#message { 
		width: calc(100% - 30px);
		padding: 0.4rem 0.5rem;
		font-size: clamp(1rem, 6vw, 3rem);
		overflow-wrap: anywhere;
	}
}

#refresh_bottom {
	align-content: end;
}

@media (max-aspect-ratio: 3/4) {
	#refresh_bottom { 
		position: absolute;
		bottom: 0;
		transform: translateY(80%);
		width: clamp(2rem, 14vw, 8rem);
		height: clamp(2rem, 14vw, 8rem);
	}
}

#refresh {
	height: 3rem;
	width: 3rem;
	fill: #7ab722;
	stroke: black;
	stroke-width: 0.015em;
	font: bold 18rem sans;
	user-select: none;
}

#refresh:hover {
	cursor: pointer;
}

@media (max-aspect-ratio: 3/4) {
	#refresh {
		height: 100%;
		width: 100%;
	}
}
