html {
	background-color: #00c3ff;
}

html, body {
	margin: 0;
	width: 100%;
	font-size: 16pt;
	position: fixed;
	height: 100dvh;
}

@media (min-aspect-ratio: 3/4) {
	html, body {
		font-size: 12pt;
	}
}

* {
    touch-action: manipulation;
}

#title, #subtitle, body > a, body > p {
	position: relative;
	z-index: 1000;
}

#garden {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
    margin: 0;
    padding: 0;
    background: url(/images/garden.svg) no-repeat center bottom;
    width: 100%;
	z-index: 0;
}

@media (min-aspect-ratio: 3/2) {
	#garden { 
		height: 75dvh;
		background-size: 100% 100%;
	}
}

@media (max-aspect-ratio: 3/2) {
	#garden { 
		height: 75dvh; 
		background-size: cover; 
		background-position: center bottom; 
	}
}

#everything_center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	bottom: 10dvh;
}

@media (max-aspect-ratio: 3/4) {
	#everything_center { 
		bottom: 0;
		height: 100dvh;
	}
}

#everything {
	display: grid;
	grid-template-columns: 1fr max-content;
}

@media (max-aspect-ratio: 3/4) {
	#everything { 
		grid-template-rows: auto fit-content(20rem) 3rem;
		grid-template-columns: unset;
		width: 100%;
		height: 100dvh;
	}
}

#carrot_scroll {
  overflow-y: scroll;
  height: 100%;
  justify-content: center;
  display: grid;
}

#carrot {
	z-index: 1;
	user-select: none;
	display: grid;
	grid-template-columns: 1fr;
	width: clamp(7rem,13vw,9rem);
}

@media (max-aspect-ratio: 3/4) {
	#carrot { 
		max-width: clamp(6rem,20vmax,15rem);
		justify-self: center;
		height: 100%;
		width: auto;
	}
}

#body {
	width: 100%;
	grid-column-start: 1;
	grid-row-start: 1;
}

@media (max-aspect-ratio: 3/4) {
	#body { 
	}
}

#mouth {
	width: 100%;
	transform-origin: bottom right;
	transform: translate(-7%, 58%);
	user-select: none;
	grid-column-start: 1;
	grid-row-start: 1;
}

@media (max-aspect-ratio: 3/4) {
	#mouth { 
	}
}

#triangle_row {
	justify-self: flex-end;
	transform: translateY(-1%);
	grid-row: 2;
	grid-column: 2;
}

@media (max-aspect-ratio: 3/4) {
	#triangle_row { 
		grid-column: 1;
		grid-row: 2;
		justify-self: center;
		transform: translate(-20%,0%);
	}
}

#triangle {
	width: 5rem;
	fill: #ececbc;
}

@property --width {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}

@property --height {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}

@media (max-aspect-ratio: 3/4) {
	#triangle { 
		--width: calc(20vw);
		--height: calc(8.5dvh);
		--ratio: calc( tan( atan2(var(--width), var(--height)) ) );
		--angle: calc( atan(var(--ratio)) );
		right: 50%;
		bottom: 41dvh;
		width: var(--width);
		height: var(--height);
		transform: skewX(calc( -0.8 * var(--angle) ) );
	}
}

#messaging {
	/*! width: 100%; */
	display: grid;
	grid-template-columns: max-content 1fr;
	transform: translate(0%, -41%);
	padding-right: 0.5rem;
	justify-self: end;
	align-content: end;
	width: clamp(15rem, 35vw, 25rem);
}

@media (max-aspect-ratio: 3/4) {
	#messaging { 
		grid-template-rows: 1fr 0.2fr;
		transform: unset;
		padding-right: unset;
		grid-template-columns: unset;
		width: calc(100% - 1rem);
		margin: 0rem 0.5rem;
		height: 100%;
		grid-template-rows: max-content 0.2fr;
	}
}

#response {
	padding: 0.5rem;
	width: 100%;
	border-radius: 0.9rem;
	background-color: #ececbc;
	font-family: sans;
	font-size: x-large;
	text-align: center;
	/*! justify-self: flex-end; */
	grid-row: 1;
	grid-column: 2;
	/*! width: clamp(15rem, 49vw, 20rem); */
	box-sizing: border-box;
}

@media (max-aspect-ratio: 3/4) {
	#response { 
		grid-row: 1;
		grid-column: 1;
		padding: 0.4rem 0rem;
		font-size: clamp(1rem, 11vw, 5rem);
		overflow-wrap: anywhere;
		width: 100%;
	}
}

#refresh_bottom {
	justify-self: flex-end;
	grid-row: 1;
	grid-column: 1;
	align-self: flex-end;
	align-content: end;
	/*! justify-content: end; */
}

@media (max-aspect-ratio: 3/4) {
	#refresh_bottom { 
		width: clamp(2rem, 11vw, 8rem);
		height: clamp(2rem, 11vw, 8rem);
		padding-top: 0.1rem;
		grid-column: 1;
		grid-row: 2;
		justify-self: flex-start;
		align-self: flex-start;
	}
}

#refresh {
	height: 2rem;
	width: 2rem;
	user-select: none;
	padding-right: 0.2rem;
	display: block;
}

#refresh:hover {
	cursor: pointer;
}

@media (max-aspect-ratio: 3/4) {
	#refresh {
		height: 100%;
		width: 100%;
	}
}

#message_ui {
	display: grid;
	grid-template-columns: max-content 1fr 4em;
	width: 100%;
	/*! box-sizing: border-box; */
	/*! max-width: 100%; */
	/*! min-width: 0; */
}

@media (max-aspect-ratio: 3/4) {
	#message_ui {
		width: calc(100% - 1rem);
		padding: 0.5rem 0.5rem;
		font-size: clamp(1rem, 6vw, 3rem);
		overflow-wrap: anywhere;
	}
}

#ignore_toggle {
	cursor: pointer;
	padding-right: 0.2rem;
	user-select: none;
}

#ignore_toggle.enabled {
	text-decoration: line-through;
}

@media (max-aspect-ratio: 3/4) {
	#ignore_toggle {
		padding-right: 0.6rem;
	}
}

#message {
	font-size: inherit;
	box-sizing: border-box;
	width: 100%;
	min-width: 0;
}

@media (max-aspect-ratio: 3/4) {
	#message {
		box-sizing: border-box;
		width: 100%;
	}
}

#send {
	font-size: inherit;
	margin-left: 0.2em;
}


